DATABASE_URL="mysql://user:password@localhost:3306/eatsprint"

DATABASE_HOST="localhost"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="eatsprint"

JWT_SECRET="change-me"
ACCESS_TOKEN_EXPIRY="5m"
REFRESH_TOKEN_EXPIRY_DAYS="7"
BCRYPT_SALT_ROUNDS="10"
